@font-face {
  font-family: cera-pro-normal-black-italic, Mates, sans; 
  src: url(../fonts/Cera\ Pro\ Black\ Italic.woff);
  src: url(../fonts/Cera\ Pro\ Black\ Italic.otf);
}
@font-face {
  font-family: cera-pro-normal-black, Mates, sans;
  src: url(../fonts/Cera\ Pro\ Black.otf);
  src: url(../fonts/Cera\ Pro\ Black.woff);
}
@font-face {
  font-family: cera-pro-normal-bold-italic, Mates, sans;
  src: url(../fonts/Cera\ Pro\ Bold\ Italic.otf);
  src: url(../fonts/Cera\ Pro\ Bold\ Italic.woff);
}
@font-face {
  font-family: ceraPro;
  src: url(../fonts/Cera\ Pro\ Bold.otf);
  src: url(../fonts/Cera\ Pro\ Bold.woff);
}
@font-face {
  font-family: cera-pro-normal-italic, Mates, sans;
  src: url(../fonts/Cera\ Pro\ Italic.otf);
}
@font-face {
  font-family: cera-pro-normal-light-italic, Mates, sans;
  src: url(../fonts/Cera\ Pro\ Light\ Italic.otf);
  src: url(../fonts/Cera\ Pro\ Light\ Italic.woff);
}
@font-face {
  font-family: cera-pro-normal-light, Mates, sans;
  src: url(../fonts/Cera\ Pro\ Light.otf);
  src: url(../fonts/Cera\ Pro\ Light.woff);
}
@font-face {
  font-family: cera-pro-normal-medium-italic, Mates, sans;
  src: url(../fonts/Cera\ Pro\ Medium\ Italic.otf);
  src: url(../fonts/Cera\ Pro\ Medium\ Italic.woff);
}
@font-face {
  font-family: cera-pro-normal-medium, Mates, sans;
  src: url(../fonts/Cera\ Pro\ Medium.otf);
  src: url(../fonts/Cera\ Pro\ Medium.woff);
}
@font-face {
  font-family: cera-pro-normal-regular-italic, Mates, sans;
  src: url(../fonts/Cera\ Pro\ Regular\ Italic.woff);
}
@font-face {
  font-family: cera-pro-normal-thin-italic, Mates, sans;
  src: url(../fonts/Cera\ Pro\ Thin\ Italic.otf);
  src: url(../fonts/Cera\ Pro\ Thin\ Italic.woff);
}
@font-face {
  font-family: cera-pro-normal-thin, Mates, sans;
  src: url(../fonts/Cera\ Pro\ Thin.otf);
  src: url(../fonts/Cera\ Pro\ Thin.woff);
}
@font-face {
  font-family: cera-pro-normal-thin, Mates, sans;
  src: url(../fonts/Cera\ Pro\ Thin.otf);
  src: url(../fonts/Cera\ Pro\ Thin.woff);
}
@font-face {
  font-family: cera-pro-normal, Mates, sans;
  src: url(../fonts/Cera\ Pro.otf);
  src: url(../fonts/Cera\ Pro.woff);
}
body {
  font-family: CeraPro;
  overflow-x: hidden;
  width: 100%;
}

html {
  width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}

a {
  text-decoration: none;
  color: #7A7B7D;
}

ul {
  padding: 0;
  margin: 0;
}

.new-top-nav {
  background: #292D2C;
}

.new-top-nav-inner {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.new-top-nav-left {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.new-top-nav-brand {
  width: 190px;
  height: 60px;
  display: block;
}
.new-top-nav-brand img {
  width: 100%;
  height: 100%;
}

.new-nav-left-list {
  display: table;
  margin-left: 10px;
}
.new-nav-left-list li {
  display: inline-block;
  margin-right: 18px;
}
.new-nav-left-list li a {
  font-size: 15px;
  text-transform: uppercase;
  transition: all 0.3s;
  font-family: ceraPro;
  font-weight: 400;
  color: #fff;
  line-height: 1.24;
}
.new-nav-left-list li a:hover {
  color: #fff;
  text-decoration: none;
}

.new-top-navbar-right {
  margin-left: auto;
}

.new-nav-right-list {
  display: table;
}
.new-nav-right-list li {
  display: inline-block;
  margin-left: 20px;
  color: #fff;
  font-size: 16px;
}
.new-nav-right-list li a {
  color: #fff;
  font-size: 16px;
}

.right-logo a {
  width: 84px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-logo a img {
  width: 100%;
  height: 100%;
}

.right-grid-icon a {
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-grid-icon a img {
  width: 100%;
  height: 100%;
}

.right-search a {
  display: block;
  position: relative;
  width: 100%;
  color: #fff !important;
}
.right-search a .right-search-icon {
  position: relative;
  z-index: 2;
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-search a .right-search-icon img {
  width: 100%;
  height: 100%;
}
.right-search a .right-search-icon.active {
  color: #7A7B7D !important;
}
.right-search a .right-search-input {
  position: absolute;
  right: -5px;
  z-index: 1;
  top: -4px;
  border-radius: 5px;
  padding: 0 30px 0 0;
  overflow: hidden;
  width: 0;
  transition: all 0.3s ease-in;
  opacity: 0;
  background: #2b2c2d;
  border: 1px solid #fff;
}
.right-search a .right-search-input input {
  color: #2b2c2d;
  width: 100%;
  outline: 0;
  border: 0;
  padding-left: 10px;
  background: #fff;
}
.right-search a .right-search-input.active {
  width: 200px;
  opacity: 1;
}

.right-user {
  position: relative;
}
.right-user a {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-user a img {
  width: 100%;
  height: 100%;
}
.right-user ul {
  position: absolute;
  background: #fff;
  box-shadow: 0 1px 5px 0px rgba(0, 136, 204, 0.4);
  left: auto;
  right: 0;
  border-radius: 3px;
  top: 100%;
  width: 200px;
  padding-bottom: 5px;
}
.right-user ul li {
  padding: 0;
  margin: 0;
  width: 100%;
  padding-top: 10px;
}
.right-user ul li a {
  color: #2f2727;
  font-size: 15px;
  display: block;
  padding: 2px 5px;
  text-decoration: none;
  display: block;
  width: 100%;
}

.mobile-search-bar {
  margin-top: 5px;
  margin-bottom: 5px;
  display: none;
}
.mobile-search-bar form {
  display: flex;
  flex-flow: row;
}

.mobile-search-input {
  width: 100%;
  flex: 0 0 85%;
  background: #fff;
  border: 1px solid #fff;
}
.mobile-search-input input {
  width: 100%;
  border: 0;
  outline: 0;
  z-index: 1;
  position: relative;
  padding: 3px 10px;
}

.mobile-search-icon {
  border: 1px solid #fff;
  flex: 0 0 15%;
  width: 100%;
  padding: 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-search-icon span {
  color: #fff;
}

.mobile-button {
  color: #fff;
  border: 1px solid #fff;
  padding: 1px 6px;
  border-radius: 3px;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 767px) {
  .mobile-search-bar {
    display: block;
  }

  .right-search {
    display: none !important;
  }

  .new-top-nav-inner {
    flex-flow: column;
  }

  .new-top-navbar-left {
    order: 3;
  }

  .new-top-navbar-right {
    margin: 15px 0;
    width: 100%;
  }

  .new-nav-right-list {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .new-nav-right-list li {
    margin: 0 10px;
  }

  .new-top-nav-left {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(163, 163, 163, 0.4);
    padding: 10px 0;
  }

  .new-top-navbar-left {
    width: 100%;
  }

  .new-nav-left-list {
    display: block;
    margin: 0;
    width: 100%;
  }
  .new-nav-left-list li {
    display: block;
  }

  .mobile-button {
    display: block;
  }
}
.inner-banner {
  width: 100%;
  margin: auto;
}
.inner-banner figure {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 76px;
}
.inner-banner figure img {
  height: 100%;
}

.new-section-content {
  background: #EDEEF0;
  padding-bottom: 100px;
}

.quick-link-content, .headline-link-content, .switch-link-content {
  background: #fff;
  border-radius: 10px;
  padding: 15px 15px 0;
  /* box-shadow: 0 0 8px 0px rgba(151, 151, 151, 0.2); */
  margin-bottom: 10px;
  margin-top: 20px;
}
.quick-link-content h4, .headline-link-content h4, .switch-link-content h4 {
  font-size: 14px;
  text-transform: capitalize;
  color: #141414;
  font-weight: 900;
  font-family: CeraPro;
  color: #000;
  margin-bottom: 15px;
}
.quick-link-content ul, .headline-link-content ul, .switch-link-content ul {
  margin-top: 10px;
}
.quick-link-content ul li, .headline-link-content ul li, .switch-link-content ul li {
  display: inline;
  width: 100%;
}
.quick-link-content ul li a, .headline-link-content ul li a, .switch-link-content ul li a {
  display: block;
  width: 100%;
  display: flex;
  flex-flow: row;
  border-top: 2px solid #EDEEF0;
  align-items: center;
  text-decoration: none;
  padding: 5px 0;
}
.quick-link-content ul li a figure, .headline-link-content ul li a figure, .switch-link-content ul li a figure {
  flex: 0 0 59px;
  width: 51px;
  margin-right: 10px;
  overflow: hidden;
  height: 48px;
}
.quick-link-content ul li a figure img, .headline-link-content ul li a figure img, .switch-link-content ul li a figure img {
  width: 114px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.quick-link-caption p {
  color: #141414;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  margin: 0;
  font-family: CeraPro;
}

.review-content {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  /* box-shadow: 0 0 8px 0px rgba(151, 151, 151, 0.2); */
  margin-bottom: 10px;
}
.review-content h4 {
  font-size: 14px;
  text-transform: capitalize;
  color: #000;
  font-weight: 900;
  border-bottom: 2px solid #141414;
  padding-bottom: 10px;
  font-family: CeraPro;
}
.review-content ul {
  margin-top: 10px;
}
.review-content ul li {
  display: block;
  width: 100%;
  padding: 5px 0;
}
.review-content ul li button {
  padding: 10px 5px;
  border: 2px solid #C81630;
  width: 100%;
  border-radius: 25px;
  outline: 0;
  background: #fff;
  color: #C81630;
  text-transform: capitalize;
  font-size: 15px;
  transition: all linear 0.3s;
  font-family: CeraPro;
  letter-spacing: 1px;
}
.review-content ul li:first-child button {
  background: #C81630;
  color: #fff;
}
.review-content ul li:first-child button:hover {
  /* background: #fff;
  color: #C81630; */
}
.review-content ul li:last-child button:hover {
  background: #C81630;
  color: #fff;
}

.inner-item-blg {
  border-radius: 10 10 0 0;
  /* overflow: hidden; */
  position: relative;
}
.inner-item-blg figure {
  width: 100%;
}
.inner-item-blg figure img {
  width: 100%;
}

.blg-caption {
  background: #fff;
  padding: 5px 15px;
}
.blg-caption figure {
  width: 120px;
  margin: auto;
}
.blg-caption figure img {
  width: 100%;
}

.inner-item-form {
  position: absolute;
  bottom: 15px;
  width: 100%;
  left: 0;
}
.inner-item-form form {
  padding: 0 50px;
}
.form-inner {
  display: flex;
  flex-flow: row;
  align-items: center;
  border: 2px solid #364c6d;
  border-radius: 6px;
  height: 42px;
  background: #fff;
  position: relative;
  padding-left: 0;
}
.form-inner-dropdown {
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid #dedede;
  padding: 0 7px 0 10px;
  background: #eaeaea;
  border-radius: 6px 0 0 6px;
}
.form-inner label {
  margin: 0;
  flex: 0 0 10%;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: #000;
  font-family: CeraPro;
}
.form-inner input {
  outline: 0;
  height: 100%;
  flex: 0 0 74%;
  width: 100%;
  border: 0;
  padding: 4px 5px 0;
  font-size: 18px;
  color: #000;
}
.form-inner input::placeholder {
  color: #B2B2B2;
  font-weight: 400;
  font-size: 16px;
  font-family: CeraPro;
  letter-spacing: 1px;
  line-height: 1;
}
.form-inner button {
  outline: 0;
  position: absolute;
  right: -5px;
  height: 38px;
  border-radius: 0 6px 6px 0;
  border: 1px solid #E51937;
  background: #E51937;
  width: 50px;
}
.form-inner button img {
  width: 19px;
  margin-right: 4px;
}
.inner-item-blog-sect {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 20px 0px rgba(151, 151, 151, 0.9);
  overflow: hidden;
  margin-top: 20px;
}
.inner-rated-iconic {
  background: #fff;
  padding: 30px 0px 20px 15px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.inner-rated-iconic .rated-iconic-item {
  flex: 30%;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  margin-bottom: 10px;
}
.rated-iconic-item img {
  width: 25px;
}
.inner-rated-iconic .rated-iconic-item .iconic-coaches-caption p {
  margin: 0;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 1;
  margin-left: 5px;
  font-family: sans-serif;
  color: #000;
  /* letter-spacing: 1px; */
  font-weight: bold;
}
.headline-link-content {
  margin-bottom: 0;
}
.headline-link-content h4 {
  line-height: 1.2;
  color: #000;
  font-size: 12px;
  font-family: CeraPro;
}
.headline-link-content ul {
  border-top: 2px solid #000;
  padding: 9px 0 12px;
}
.headline-link-content ul li {
  position: relative;
  width: 100%;
  display: block;
}
.headline-link-content ul li:before {
  position: absolute;
  content: "";
  background: url(../images/ellipsis.png);
  left: 0;
  width: 4px;
  height: 4px;
  top: 10px;
  transform: translateY(-50%);
  background-size: contain;
  margin-top: 7px;
}
.headline-link-content ul li a {
  border: 0;
  font-size: 12px;
  margin-left: 9px;
  color: #6f6f6f;
  padding: 7px 0;
  font-family: CeraPro;
}
.headline-link-content ul li a:hover {
  color: #2d8cf0;
}
.headline-link-content ul li a img {
  width: 20px;
}

.flank-banner {
  margin-top: 10px;
}
.flank-banner figure {
  width: 100%;
}
.flank-banner figure img {
  width: 100%;
}

.coach-scandal {
  background: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  /* box-shadow: 0 0 8px 0px rgba(151, 151, 151, 0.2); */
  margin-top: 10px;
}
.coach-scandal .inner-item-blg {
  margin: 20px 10px 20px;
  box-shadow: 0 0 20px 0px rgba(151, 151, 151, 0.4);
}

.coach-scandal-title {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.coach-scandal-title figure {
  width: 25px;
}
.coach-scandal-title figure img {
  width: 100%;
}
.coach-scandal-title .scandal-head {
  margin-left: 15px;
}
.coach-scandal-title .scandal-head h2 {
  margin: 0;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: CeraPro;
  color: #000;
}

.inner-scandal {
  margin-top: 10px;
}
.inner-scandal figure {
  width: 100%;
}
.inner-scandal figure img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  /* box-shadow: 0 0 20px 0px rgba(151, 151, 151, 0.4); */
}

.scandal-caption {
  display: flex;
  flex-flow: row;
  padding: 15px 20px;
  margin-top: 5px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 7px 0px rgba(151, 151, 151, 0.4);
}
.scandal-caption figure {
  width: 13px;
  height: 13px;
}
.scandal-caption figure img {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  overflow: hidden;
}
.scandal-caption .blg-inner-cap {
  margin-left: 15px;
  font-weight: 600;
  font-size: 15px;
}
.scandal-caption .blg-inner-cap p {
  margin: 0;
  color: #000;
  font-family: CeraPro;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}

.scandal-analytics {
  background: #fff;
  border-radius: 10px;
  padding: 15px 10px;
  /* box-shadow: 0 0 8px 0px rgba(151, 151, 151, 0.2); */
  margin-top: 10px;
  /* min-height: 800px; */
}
.scandal-analytics h4 {
  line-height: 1.2;
  color: #000;
  font-size: 13px;
  font-weight: 900;
  margin-top: 0;
  font-family: CeraPro;
  letter-spacing: 1px;
}

.scandal-ana-banner {
  margin-top: 10px;
}

.scandal-ana-banner figure {
  width: 100%;
}
.scandal-ana-banner figure img {
  width: 100%;
}

.scandal-list ul {
  width: 100%;
  border-top: 2px solid #000;
}
.scandal-list ul li {
  display: block;
  width: 100%;
  list-style: none;
}
.scandal-list ul li a {
  border-bottom: 1px solid #EDEEF0;
  font-size: 13px;
  color: #000;
  padding: 14px 0;
  text-decoration: none;
  display: block;
  font-family: CeraPro;
  letter-spacing: 1px;
}
.scandal-list ul li a img {
  width: 20px;
}

.scandal-extra-link ul {
  margin-top: 12px;
}
.scandal-extra-link ul li {
  display: block;
  width: 100%;
}
.scandal-extra-link ul li a {
  text-decoration: underline;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  font-family: CeraPro;
}

.scandal-box-in .row {
  display: flex;
  flex-flow: row;
  min-height: 220px;
}
.scandal-box-in .row .col-md-8.col-sm-8 {
  flex: 2 1 auto;
  -webkit-box-flex: 2;
}
.scandal-box-in .row .col-md-8.col-sm-8 .coach-scandal {
  height: 100%;
}
.scandal-box-in .row .col-md-4.col-sm-4 {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}
.scandal-box-in .row .col-md-4.col-sm-4 .scandal-analytics {
  height: 100%;
}

.inner-scandal-video-item figure {
  width: 100%;
  height: 73px;
  position: relative;
}
.inner-scandal-video-item figure img {
  width: 100%;
  height: 100%;
}
.inner-scandal-video-item figure .play-caption {
  position: absolute;
  top: 50%;
  background: #BABBBC;
  width: 30px;
  border-radius: 50%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.inner-scandal-video-item figure .play-caption span {
  color: #48494A;
}

.inner-scandal-video-item figure .video-duration {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: #D5D5D5;
  width: 40px;
  height: 18px;
  border-radius: 10px;
  text-align: center;
  color: #000;
  font-weight: 600;
}
.inner-scandal-video-item figure .video-duration p {
  margin: 0;
}

.inner-scandal-video {
  margin-top: 15px;
}

.inner-scandal-video-item {
  border: 1px solid #B0B6BC;
  border-radius: 10px;
  box-shadow: 0 0 8px 0px rgba(151, 151, 151, 0.4);
  overflow: hidden;
  position: relative;
  height: 100%;
}
.inner-scandal-video-item figure {
  position: relative;
  width: 100%;
  height: 73px;
}
.inner-scandal-video-item figure img {
  width: 100%;
  height: 100%;
}

.scandal-video-caption {
  padding: 10px;
  margin-bottom: 40px;
}
.scandal-video-caption p {
  font-weight: 400;
  font-size: 13px;
  font-family: CeraPro;
  color: #000;
  /* letter-spacing: 1px; */
}

.video-logo {
  position: absolute;
  bottom: 10px;
  width: 40px;
  right: 10px;
}
.video-logo img {
  width: 100%;
}

.inner-scandal-video .row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0 -6px;
  min-height: 215px;
}

.inner-scandal-video .row .col-sm-6 {
  padding: 0 5px;
  flex: 0 0 50%;
  width: 100%;
  margin-bottom: 10px;
}

.inner-scandal-video .row .col-md-3 {
  padding: 0 5px;
  flex: 0 0 25%;
  width: 100%;
  margin-bottom: 10px;
}


@media only screen and (max-width: 767px) {
  .inner-scandal-video .row .col-sm-6 {
    flex: 0 0 33.33%;
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .inner-scandal-video .row .col-sm-6 {
    flex: 0 0 50%;
    width: 100%;
  }
}

.new-section-activity {
  background: #EDEEF0;
  padding-top: 80px;
}

.activity-list {
  padding: 0 20px 0;
}

.activity-list-inner {
  list-style: none;
  border-bottom: 2px solid #EDEEF0;
  padding: 10px 0;
}
.activity-list-inner:last-child {
  border: 0;
}

.recent-activity-part {
  background: #fff;
  border-radius: 10px;
  /* box-shadow: 0 0 8px 0px rgba(151, 151, 151, 0.2); */
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.recent-activity-part-inner {
  display: flex;
  flex-flow: row;
}

.activ-thumb {
  flex: 0 0 70px;
  width: 70px;
  margin-right: 15px;
}
.activ-thumb figure {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.activ-thumb figure img {
  width: 100%;
}

/* .activ-det ul li {
  list-style: none;
} */

.activ-det  h3 {
  color: #0088cc;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-family: CeraPro;
  letter-spacing: 1px;
}

.activ-det h4, .activ-det  h5 {
  color: #000;
  font-weight: 900;
  font-size: 14px;
  margin: 0;
  margin-bottom: 5px;
  font-family: CeraPro;
  letter-spacing: 1px;
}

.activ-det  p {
  color: #000;
  font-size: 14px;
  margin: 0;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: CeraPro;
  font-weight: 400;
  line-height: 15px;
}

.recent-title {
  padding: 10px 10px;
  border-top: 2px solid #D1D2CE;
}
.recent-title h2 {
  margin: 0;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
  font-family: CeraPro;
  color: #000;
}
.recent-title .drop-bottom-icon {
  padding-bottom: 0;
}

.linear-border {
  height: 7px;
  width: 100%;
  background-image: linear-gradient(to right, #000, #D71734);
}

.review-sect {
  background: #fff;
  border-radius: 10px;
  /* box-shadow: 0 0 8px 0px rgba(151, 151, 151, 0.2); */
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}

.review-sect-header {
  display: flex;
  flex-flow: row;
  padding: 10px 15px;
}
.review-sect-header figure {
  flex: 0 0 70px;
  width: 70px;
  margin-right: 15px;
  border-radius: 15px;
  overflow: hidden;
}
.review-sect-header figure img {
  width: 100%;
}

.review-header-title h3 {
  color: #000;
  font-weight: 900;
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
  font-family: CeraPro;
  letter-spacing: 1px;
}
.review-header-title ul {
  display: table;
  margin-bottom: 5px;
}
.review-header-title ul li {
  display: inline-block;
  margin-right: 15px;
}
.review-header-title h4 {
  color: #000;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  margin-bottom: 5px;
  font-family: CeraPro;
  letter-spacing: 1px;
}
.review-header-title h4 span {
  color: #0088cc;
  text-transform: capitalize;
  font-weight: 900;
}

.rev-ti-im {
  width: 17px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-bottom;
}
.rev-ti-im img {
  width: 100%;
}

.rev-ti-p {
  font-size: 13px;
  font-weight: 900;
  color: #000;
  font-family: CeraPro;
}

.rev-ti-ic {
  width: 17px;
  display: inline-block;
  margin-right: 5px;
  height: 17px;
  background: #F5A8B3;
  color: #fff;
  font-size: 10px;
  text-align: center;
  border-radius: 5px;
  vertical-align: text-top;
}
.rev-ti-ic i {
  vertical-align: middle;
}

.review-border {
  margin: 2px 15px 10px;
  height: 25px;
  position: relative;
  background: #E51937;
  border-radius: 7px;
}

.review-border-left {
  position: absolute;
  width: 35px;
  height: 35px;
  top: -5px;
  left: -2px;
}
.review-border-left img {
  width: 100%;
  height: 100%;
}

.review-border-right {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 20px;
  top: -15px;
}
.review-border-right img {
  width: 100%;
  height: 100%;
}

.review-star {
  padding: 10px 15px 0;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.review-star ul {
  display: table;
  margin-right: 5px;
}
.review-star ul li {
  width: 20px;
  height: 20px;
  background: #EA435C;
  display: inline-block;
  margin-right: 3px;
  border-radius: 5px;
  text-align: center;
}
.review-star ul li span {
  color: #fff;
  font-size: 11px;
  vertical-align: text-top;
}
.review-star ul li.star-half {
  background: #CCCCCC;
}

.review-time p {
  margin: 0;
  font-family: CeraPro;
  color: #000;
  font-weight: 600;
}

.review-sect-part {
  margin-top: 10px;
}
.review-sect-part .drop-title {
  margin-bottom: 0;
}

.revt-details {
  padding: 15px 15px 60px;
}
.revt-details p {
  margin-bottom: 0;
  line-height: 22px;
  font-family: CeraPro;
  font-weight: 400;
  /* letter-spacing: 1px; */
  color: #48494a;
  font-size: 13px;
}
.revt-details p a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
  font-family: CeraPro;
}

.revt-details p a:hover {
  color: #2d8cf0;
  font-weight: 600;
  text-decoration: none;
  font-family: CeraPro;
}

.flank-daily-sec {
  padding: 15px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 8px 0px rgba(151, 151, 151, 0.2);
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.flank-daily-img figure img {
  width: 100%;
}

.flank-daily-content {
  text-align: center;
  margin-top: 25px;
}
.flank-daily-content h2 {
  margin: 0;
  margin-bottom: 15px !important;
  font-size: 16px;
  font-weight: 600;
  font-family: CeraPro;
  letter-spacing: 1px;
  color: #000;
}
.flank-daily-content p {
  margin-bottom: 20px;
  color: #000;
  font-size: 12px;
  letter-spacing: 0px;
  margin-left: -5px;
  margin-right: -5px;
}
.fla-form-full {
  margin-bottom: 10px;
}
.fla-form-full input {
  width: 100%;
  padding: 5px 10px;
  border: 2px solid #000;
  color: #000;
  font-size: 15px;
  background: #fff;
  outline: 0;
}
.fla-form-full input::placeholder {
  color: #000;
  font-weight: 400;
  font-size: 14px;
}
.fla-form-button button {
  width: 100%;
  background: #fff;
  outline: 0;
  border: 2px solid #000;
  font-size: 16px;
  color: #0088cc;
  padding: 5px;
  border-radius: 15px;
  font-weight: 500;
  font-family: sans-serif;
  padding: 3px 0;
}

.priv {
  margin-top: 10px;
}
.priv p {
  margin-bottom: 0;
}
.priv p a {
  font-size: 12px;
  color: #0088cc;
  text-decoration: none;
  text-transform: capitalize;
}

.new-drop-section {
  padding-top: 70px;
  background: #EDEEF0;
}

.drop-content {
  /* margin-top: 10px; */
}
.drop-content .row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}

.drop-title {
  margin-bottom: 30px;
  text-align: center;
}
.drop-title h2 {
  font-size: 17px;
  font-weight: 600;
  color: #C81630;
  margin: 0;
  text-transform: capitalize;
  font-family: CeraPro;
  letter-spacing: 1px;
}

.drop-item {
  margin-top: 10px;
  padding: 0 10px;
  flex: 33.33%;
  width: 100%;
}
.drop-item .drop-item-inner {
  background: #fff;
  border-radius: 5px;
  /* box-shadow: 0 0 8px 0px rgba(151, 151, 151, 0.2); */
  position: relative;
  overflow: hidden;
  /* border: 1px solid #797B7E; */
  height: 100%;
}

.drop-item-inner .linear-border {
  height: 4px;
}

.drop-item-title {
  display: flex;
  flex-flow: row;
  padding: 10px;
}
.drop-item-title figure {
  flex: 0 0 45px;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.drop-item-title figure img {
  width: 100%;
}
.drop-item-title .drop-title-caption h3 {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 900;
  color: #0088cc;
  font-size: 14px;
  font-family: CeraPro;
}
.drop-item-title .drop-title-caption p {
  color: #000;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 13px;
  font-family: CeraPro;
}

.drop-inner .review-star {
  padding: 5px 10px;
}

.drop-inner-figure {
  height: 67px;
  width: 100%;
}
.drop-inner-figure figure {
  width: 100%;
  height: 100%;
}
.drop-inner-figure figure img {
  width: 100%;
  height: 100%;
}

.drop-inner-coach {
  margin: 10px;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 10px;
}
.drop-inner-coach h4 {
  color: #0088cc;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
  font-family: CeraPro;
  font-size: 12px;
}

.drop-inner-coach-txt {
  margin: 5px 10px;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 10px;
}
.drop-inner-coach-txt p {
  color: #48494a;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
  font-family: CeraPro;
  font-size: 13px;
}
.drop-inner-coach-txt a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  font-family: CeraPro;
  font-weight: 600;
}

.drop-bottom-icon {
  margin: 0 15px;
  padding-bottom: 10px;
}
.drop-bottom-icon ul {
  display: flex;
  flex-flow: row;
}
.drop-bottom-icon ul li {
  list-style: none;
  flex: 0 0 16px;
  width: 16px;
  height: 16px;
  margin-right: 15px;
}
.drop-bottom-icon ul li img {
  width: 100%;
  height: 100%;
}
.drop-bottom-icon ul li:last-child {
  margin-right: 0;
  margin-left: auto;
}

.new-footer {
  height: 300px;
  width: 100%;
  background: #C81630;
}

.new-footer-top {
  background: #E51837;
  height: 12px;
  box-shadow: 0px 6px 8px 0px rgba(151, 151, 151, 0.2);
}

.spotlight-content {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  /* box-shadow: 0 0 8px 0px rgba(151, 151, 151, 0.2); */
  margin-bottom: 20px;
  text-align: center;
}
.spotlight-content h4 {
  font-size: 14px;
  color: #000;
  font-weight: 900;
  padding-bottom: 10px;
}
.spotlight-content p {
  margin-bottom: 0;
  margin-top: 15px;
  text-align: left;
}
.spotlight-content p a {
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

.spotlight-content p a:hover {
  color: #2d8cf0;
}

.spotlight-img {
  width: 100%;
}
.spotlight-img figure {
  width: 100%;
}
.spotlight-img figure img {
  width: 100%;
}

.spotlight-foot-img {
  margin-top: 5px;
}
.spotlight-foot-img figure {
  width: 65px;
  margin-left: auto;
}
.spotlight-foot-img figure img {
  width: 100%;
}

.activity-sec .row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}
.activity-item {
  padding: 0 6px;
  flex: 0 0 25%;
  width: 100%;
  margin-top: 13px;
  cursor: pointer;
  overflow: hidden;
  max-width: 25%;
}
.activity-item .activity-inner {
  background: #fff;
  border-radius: 10px;
  /* box-shadow: 0 0 8px 0px rgba(151, 151, 151, 0.2); */
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 100%;
}
.activity-inner-fig {
  margin: 10px 0 1px;
}
.activity-inner-fig figure {
  margin: auto;
  height: 123px;
}
.activity-inner-fig figure img {
  width: auto;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.activity-inner-caption {
  padding: 5px 4px 16px;
}
.activity-inner-caption p {
  font-weight: 600;
  color: #000;
  text-transform: capitalize;
  font-size: 10px;
}
.new-banner-section-1 {
  background: #EDEEF0;
  padding-top: 20px;
}
.new-banner-section-1 .inner-banner figure img {
  width: 95%;
}

.flank-page-top {
  border-bottom: 2px solid #EDEEF0;
}

.flank-full {
  display: flex;
  flex-flow: row;
}
.flank-full .flank-item-1 {
  flex: 0 0 45%;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.flank-full .flank-item-1 figure {
  flex: 0 0 250px;
  width: 250px;
  height: 100%;
  /* padding: 0px 30px; */
}
.flank-full .flank-item-1 figure img {
  width: 100%;
  height: 100%;
}
.flank-full .flank-item-2 {
  flex: 0 0 55%;
  width: 100%;
  padding: 15px 0;
}

.flank-header-cap {
  padding: 15px 0;
  margin-left: 15px;
}
.flank-header-cap h1 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  font-family: CeraPro;
}
.flank-header-cap h1 span {
  font-weight: 600;
}
.flank-header-cap ul {
  display: flex;
  flex-flow: row;
  margin-bottom: 15px;
}
.flank-header-cap ul li {
  list-style: none;
  margin-right: 5px;
  font-family: CeraPro;
}
.flank-header-cap ul li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.flank-header-cap ul li span {
  color: #000;
  font-size: 14px;
}

.flank-head-btn button {
  padding: 5px 35px;
  border: 2px solid #C81630;
  border-radius: 25px;
  outline: 0;
  background: #C81630;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  transition: all linear 0.3s;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: CeraPro;
}

.flank-item-left-list table tbody tr td {
  padding: 5px 1rem;
  text-transform: uppercase;
  font-weight: 400;
  font-family: CeraPro;
}
.flank-item-left-list table tbody tr td .green {
  width: 5px;
  height: 5px;
  background: #009946;
  display: inline-block;
  border-radius: 50%;
  margin-right: 6px;
  vertical-align: middle;
}
.flank-item-left-list table tbody tr td:last-child {
  text-transform: capitalize;
}

.flank-item-right-list {
  border: 1px solid #C0C0C2;
  border-radius: 15px;
  overflow: hidden;
}
.flank-item-right-list .linear-border {
  height: 22px;
  text-align: center;
}
.flank-item-right-list .linear-border p {
  color: #fff;
}

.right-list-inner {
  text-align: center;
}
.right-list-inner .right-list-inner-item h4 {
  color: #FF0203;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 3px;
  font-family: CeraPro;
}
.right-list-inner .right-list-inner-item .review-star ul {
  margin: 0;
}
.right-list-inner .right-list-inner-item .ti p {
  position: relative;
  top: -3px;
  margin: 0;
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

.flank-item-2-inner {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  border-left: 1px solid #C0C0C2;
}
.flank-item-2-inner .flank-item-left-list {
  flex: 0 0 50%;
  width: 100%;
}
.flank-item-2-inner .flank-item-right-list {
  flex: 0 0 50%;
  width: 100%;
  height: 100%;
}

.right-list-inner {
  display: flex;
  flex-flow: row;
  padding: 10px;
  justify-content: space-between;
}
.right-list-inner .review-star {
  padding: 0;
}

.flank-page-bottom-nav ul {
  display: table;
  padding: 5px 0;
}
.flank-page-bottom-nav ul li {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 0;
}
.flank-page-bottom-nav ul li a {
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  font-family: CeraPro;
  font-size: 14px;
}
.flank-page-bottom-nav ul li:hover {
  border-bottom: 3px solid #DD0000;
}
.flank-page-bottom-nav ul li.active {
  border-bottom: 3px solid #DD0000;
}

.flank-page-header {
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}

.switch-link-content {
  padding: 0;
  margin-bottom: 10px;
}
.switch-link-content h4 {
  text-transform: capitalize;
}

.switch-link-title {
  padding: 15px 15px 0;
}

.switch-link-btn {
  border-top: 2px solid #EDEEF0;
  margin: 0 15px;
  padding: 0 0 10px;
}
.switch-link-btn ul li {
  margin-bottom: 10px;
  display: block !important;
}
.switch-link-btn ul li button {
  padding: 10px 5px;
  border: 2px solid #C81630;
  width: 100%;
  border-radius: 25px;
  outline: 0;
  background: #fff;
  color: #C81630;
  text-transform: capitalize;
  font-size: 15px;
  transition: all linear 0.3s;
  font-family: CeraPro;
  letter-spacing: 1px;
}

.switch-link-btn ul li:first-child button {
  background: #C81630;
  color: #fff;
}

.switch-link-btn ul li:last-child button:hover {
  background: #C81630;
  color: #fff;
}

.switch-coach {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 10px 15px;
}
.switch-coach:hover {
  background: #fff;
}
.switch-coach figure {
  flex: 0 0 45px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #C0C0C2;
  padding: 5px 5px 0 5px;
}
.switch-coach figure img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 5px;
}
.switch-coach .switch-coach-caption {
  margin-left: 10px;
  padding-top: 5px;
}
.switch-coach .switch-coach-caption p {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  margin: 0;
  font-family: CeraPro;
}

.switch-coach .switch-coach-caption p a {
  color: #141414;
  text-decoration: none;
}

.switch-coach.active {
  background: #F9F9FB;
}

.switch-link-foot {
  margin: 0 15px;
  padding: 10px 0;
  border-top: 2px solid #EDEEF0;
  text-align: center;
}
.switch-link-foot p {
  margin: 0;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
  font-family: CeraPro;
  color: #C9273B;
}

.inner-item-table-sec {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  /* box-shadow: 0 0 8px 0px rgba(151, 151, 151, 0.2); */
  margin-bottom: 10px;
  margin-top: 20px;
}
.inner-item-table-sec .inner-item-table-title h4 {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 900;
  font-family: CeraPro;
  color: #000;
}





.inner-item-table {
  overflow-x: scroll;
  margin-top: 15px;
}

.inner-item-table table {
  border-top: 2px solid #EDEEF0;
  width: 100%;
}
.inner-item-table table thead tr th {
  font-size: 14px;
  padding: 5px 0.2rem;
  text-transform: uppercase;
  border-bottom: 1px solid #e7e7e7;
  font-family: CeraPro;
}
.inner-item-table table .th-nor {
  font-weight: 600;
  border-right: 1px solid #e7e7e7;
}
.inner-item-table table tbody tr td {
  border-bottom: 1px solid #e7e7e7;
  padding: 2px 0.2rem;
  font-weight: 400;
  font-family: CeraPro;
}
.inner-item-table table tbody tr:last-child td {
  background: #fafafa;
}

.inner-item-review-sec {
  background: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  /* box-shadow: 0 0 8px 0px rgba(151, 151, 151, 0.2); */
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.inner-item-rev-item {
  display: flex;
  flex-flow: row;
  margin-bottom: 15px;
  align-items: flex-start;
}
.inner-item-rev-item figure {
  flex: 0 0 70px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 15px;
  margin-right: 15px;
}
.inner-item-rev-item figure img {
  width: 100%;
  height: 100%;
}
.inner-item-rev-item .rev-item-caption p {
  font-weight: 400;
  font-size: 13px;
  color: #48494a;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: CeraPro;
}

.inner-item-rev-item:last-child {
  margin-bottom: 0;
}

.left-linear-border {
  height: 100%;
  width: 10px;
  background-image: linear-gradient(to bottom, #000, #D71734);
  position: absolute;
  left: 0;
  top: 0;
}

.inner-item-reco-sec {
  background: #fff;
  border-radius: 10px;
  /* box-shadow: 0 0 8px 0px rgba(151, 151, 151, 0.2); */
  position: relative;
  overflow: hidden;
}

.inner-item-reco-title {
  padding: 15px;
}
.inner-item-reco-title h4 {
  font-weight: 600;
  font-size: 17px;
  font-family: CeraPro;
  color: #000;
}
.inner-item-reco-title h4 span {
  font-weight: 400;
}

.inner-item-top-con {
  display: flex;
  flex-flow: row;
  background: #fafafa;
  padding: 5px 15px;
}
.inner-item-top-con figure {
  flex: 0 0 45px;
  width: 45px;
  margin-right: 15px;
}
.inner-item-top-con figure img {
  width: 100%;
}
.inner-item-top-con .top-con-cap p {
  font-weight: 400;
  font-size: 14px;
  font-family: CeraPro;
  color: #48494a;
}
.inner-item-top-con .top-con-cap p span {
  font-weight: 600;
}
.inner-item-top-con .top-con-cap p a {
  color: #EA6375;
  text-transform: capitalize;
}

.new-flank-form {
  background: #fff;
  padding: 0 15px;
}

.new-flank-sort-sec {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #E1E1E1;
  padding: 10px 0;
}

.new-flank-search {
  flex: 0 0 45%;
  width: 100%;
  margin-right: 10px;
}
.new-flank-search .search-new-box {
  display: flex;
  flex-flow: row;
}
.new-flank-search .search-new-box input {
  outline: 0;
  border: 1px solid #A1A1A1;
  border-right: 0;
  flex: 0 0 85%;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
}
.new-flank-search .search-new-box input::placeholder {
  color: #B2B2B2;
  font-weight: 400;
  font-size: 13px;
  font-family: CeraPro;
  /* letter-spacing: 1px; */
  line-height: 1;
}
.new-flank-search .search-new-box button {
  outline: 0;
  background: #FE0000;
  color: #fff;
  border: 1px solid #A1A1A1;
  border-left: 0;
  flex: 0 0 15%;
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.new-flank-sort {
  flex: 0 0 50%;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.new-flank-sort .new-flank-select {
  display: flex;
  flex-flow: row;
  flex: 0 0 70%;
  width: 100%;
}
.new-flank-sort .new-flank-select h4 {
  font-weight: 400;
  margin: 0;
  font-size: 14px;
  color: #000;
  font-family: CeraPro;
}
.new-flank-sort .new-flank-select select {
  font-weight: 600;
  color: #000;
  border: 0;
  outline: 0;
  font-family: CeraPro;
}

.new-flank-img {
  flex: 0 0 30%;
  width: 100%;
  margin-left: auto;
}
.new-flank-img figure {
  width: 90px;
}
.new-flank-img figure img {
  width: 100%;
}

.new-flank-coach-rev {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 10px 0;
}
.new-flank-coach-rev .coach-rev-fixed {
  flex: 0 0 50%;
  width: 100%;
  display: flex;
  flex-flow: row;
}
.new-flank-coach-rev .coach-rev-fixed figure {
  flex: 0 0 70px;
  width: 70px;
  height: 70px;
  background: #E2E2E2;
  border: 1px solid #E2E2E2;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 15px;
}
.new-flank-coach-rev .coach-rev-fixed figure img {
  width: 100%;
  height: 100%;
}
.new-flank-coach-rev .coach-rev-fixed .coach-rev-fixed-content h4 {
  width: 80px;
  height: 10px;
  background: #CBCBCB;
  margin: 0;
  margin-bottom: 5px;
}
.new-flank-coach-rev .coach-rev-fixed .coach-rev-fixed-content h5 {
  width: 80px;
  height: 10px;
  background: #CBCBCB;
  margin: 0;
  margin-bottom: 5px;
}
.new-flank-coach-rev .coach-rev-fixed .coach-rev-fixed-content .fixed-list {
  width: 100%;
}
.new-flank-coach-rev .coach-rev-fixed .coach-rev-fixed-content .fixed-list li {
  list-style: none;
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 5px;
}
.new-flank-coach-rev .coach-rev-fixed .coach-rev-fixed-content .fixed-list li img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.new-flank-coach-rev .coach-rev-fixed .coach-rev-fixed-content .fixed-list li span {
  width: 80px;
  height: 10px;
  background: #CBCBCB;
  display: block;
}

.coach-rev-push {
  flex: 0 0 50%;
  width: 100%;
  background: #F5F5F5;
  border-radius: 10px;
  border: 2px solid #EDEDED;
  padding: 10px;
}

.coa-rev {
  display: table;
  border-bottom: 1px solid #EDEDED;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}
.coa-rev li {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #CCCCCC;
  margin-right: 5px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}
.coa-rev li span {
  color: #fff;
}
.coa-rev li span i {
  vertical-align: middle;
}

.start-link {
  text-align: center;
  padding-top: 10px;
}
.start-link p {
  font-weight: 400;
  font-size: 15px;
  color: #FE0101;
  margin-bottom: 0;
  font-family: CeraPro;
}
.start-link p span {
  font-weight: 600;
  text-transform: capitalize;
}

.flank-given-review-item {
  background: #fff;
  border-radius: 10px;
  /* box-shadow: 0 0 8px 0px rgba(151, 151, 151, 0.2); */
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}

.review-item-inner {
  display: flex;
  flex-flow: row;
  padding: 20px 15px 5px;
}

.review-item-left {
  flex: 0.35;
  width: 100%;
}

.review-item-left-fig {
  display: flex;
  flex-flow: row;
}
.review-item-left-fig figure {
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
}
.review-item-left-fig figure img {
  width: 100%;
  height: 100%;
}

.review-item-left-fig-c h4 {
  font-size: 15px;
  color: #CF273E;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 5px;
  font-family: CeraPro;
}
.review-item-left-fig-c h5 {
  font-size: 15px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 5px;
  font-family: CeraPro;
}
.review-item-left-fig-c .left-fig-link {
  width: 100%;
  margin-top: 15px;
}
.review-item-left-fig-c .left-fig-link li {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 14px;
}
.review-item-left-fig-c .left-fig-link li img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.review-item-left-fig-c .left-fig-link li span {
  color: #000;
  font-weight: 400;
}

.review-figure-exper {
  margin-top: 10px;
}
.review-figure-exper ul li {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.review-figure-exper ul li img {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}
.review-figure-exper ul li p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  text-transform: capitalize;
  border-bottom: 1px solid #ECECEC;
  width: 100%;
  padding: 4px 0;
  color: #48494a;
  font-family: CeraPro;
}

.review-figure-exper ul li p a {
  color: #48494a;
  font-family: CeraPro;
}

.review-figure-exper ul li p a:hover {
  color: #2b85e4;
}

.review-item-right {
  flex: 0.65;
  width: 100%;
  margin-left: 10px;
}

.review-item-right-rat {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.review-item-right-rat ul {
  display: table;
  margin-right: 10px;
}
.review-item-right-rat ul li {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #FE0000;
  text-align: center;
  border-radius: 5px;
  margin-right: 5px;
}
.review-item-right-rat ul li span {
  color: #fff;
}
.review-item-right-rat ul li span i {
  vertical-align: bottom;
}

.review-date p {
  margin: 0;
  color: #48494a;
  font-family: CeraPro;
  font-size: 13px;
}

.review-date p span {
  margin-left: 5px;
}

.review-item-right-details {
  margin-top: 10px;
}
.review-item-right-details p {
  color: #48494a;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
  font-family: CeraPro;
}

.review-btn {
  display: flex;
  flex-flow: row;
}
.review-btn ul {
  display: table;
  flex: .7;
  width: 100%;
}
.review-btn ul li {
  list-style: none;
  display: inline-block;
  border: 1px solid #ECECEC;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 3px;
  cursor: pointer;
}
.review-btn ul li img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.review-btn ul li span {
  font-size: 12px;
  color: #000;
  font-weight: 400;
  font-family: CeraPro;
}

.review-btn-img {
  flex: .30;
  width: 100%;
}
.review-btn-img figure {
  width: 70px;
  margin-left: auto;
}
.review-btn-img figure img {
  width: 100%;
}

.review-btn-sec {
  margin-top: 35px;
}
.review-btn-sec p {
  color: #48494a;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: CeraPro;
}

.review-gallary {
  margin-top: 20px;
}
.review-gallary figure {
  width: 90%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.review-gallary figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.review-gallary figure img {
  width: 100%;
}
.review-gallary figure figcaption {
  position: absolute;
  width: 100%;
  background: #272521;
  bottom: 0;
  left: 0;
  padding: 5px;
}
.review-gallary figure figcaption p {
  color: #fff;
  font-size: 15px;
  margin: 0;
  position: relative;
  z-index: 1;
}

.flank-check {
  margin-top: 10px;
}
.flank-check ul {
  display: table;
}
.flank-check ul li {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
  color: #5E5A5A;
}
.flank-check ul li span {
  margin-right: 3px;
}
.flank-check ul li img {
  width: 15px;
  height: 15px;
}

.flank-video {
  width: 100%;
  height: 155px;
}
.flank-video iframe {
  width: 100%;
  height: 100%;
}

.playing-list ul {
  padding: 0 15px;
  margin: 0;
}
.playing-list ul li {
  display: flex;
  flex-flow: row;
  border-bottom: 2px solid #F3F3F3;
  align-items: center;
  padding: 10px 0;
}
.playing-list ul li .playing-btn {
  flex: 0.1;
  width: 100%;
}
.playing-list ul li .playing-btn span {
  color: #C6152F;
}
.playing-list ul li .video-info {
  flex: .9;
  width: 100%;
}
.playing-list ul li .video-info p {
  color: #C5152F;
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  font-family: CeraPro;
}
.playing-list ul li .video-info ul {
  padding: 0;
  display: table;
  width: 100%;
}
.playing-list ul li .video-info ul li {
  font-size: 13px;
  color: #000;
  font-style: italic;
  border: 0;
  display: inline-block;
  width: auto;
  margin-right: 10px;
  padding: 0;
  font-family: CeraPro;
}
.playing-list ul li .video-info ul li span {
  margin-left: 3px;
  font-style: normal;
}
.playing-list ul li .video-info ul li p {
  color: #B8B8BA;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  font-style: normal;
}

.video-foot-img {
  padding: 10px 0;
}
.video-foot-img figure {
  width: 100px;
  margin: auto;
}
.video-foot-img figure img {
  width: 100%;
}

.flank-banner-two {
  width: 100%;
  border: 1px solid #000;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
}
.flank-banner-two figure {
  width: 100%;
}
.flank-banner-two figure img {
  width: 100%;
}

.form-inner-drop-tit {
  display: flex;
  flex-flow: row;
  align-items: center;
  cursor: pointer;
}

.form-inner-drop-tit label {
  cursor: pointer;
}

.form-inner-drop-tit span {
  font-size: 14px;
  margin-left: 3px;
}

.form-inner-drop-tit span i {
  vertical-align: middle;
}

.form-main-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #ddd;
  overflow: auto;
  background: white;
}

.form-main-dropdown ul {
  background: #fff;
  width: 100%;
}

.form-main-dropdown ul li {
  display: inline;
  width: 100%;
  display: block;
}
.form-main-dropdown ul li a {
  font-weight: 800;
  width: 100%;
  color: black;
  display: block;
  padding: 5px 10px;
  transition: all 0.3s linear;
  font-size: 14px;
}
.form-main-dropdown ul li a:hover {
  background: #E51937;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */



/* New css */

/* New css */