@font-face {
    font-family: cera-pro-normal-black-italic, Mates, sans;
    src: url(../fonts/Cera\ Pro\ Black\ Italic.woff);
    src: url(../fonts/Cera\ Pro\ Black\ Italic.otf); }
  @font-face {
    font-family: cera-pro-normal-black, Mates, sans;
    src: url(../fonts/Cera\ Pro\ Black.otf);
    src: url(../fonts/Cera\ Pro\ Black.woff); }
  @font-face {
    font-family: cera-pro-normal-bold-italic, Mates, sans;
    src: url(../fonts/Cera\ Pro\ Bold\ Italic.otf);
    src: url(../fonts/Cera\ Pro\ Bold\ Italic.woff); }
  @font-face {
    font-family: ceraPro;
    src: url(../fonts/Cera\ Pro\ Bold.otf);
    src: url(../fonts/Cera\ Pro\ Bold.woff); }
  @font-face {
    font-family: cera-pro-normal-italic, Mates, sans;
    src: url(../fonts/Cera\ Pro\ Italic.otf); }
  @font-face {
    font-family: cera-pro-normal-light-italic, Mates, sans;
    src: url(../fonts/Cera\ Pro\ Light\ Italic.otf);
    src: url(../fonts/Cera\ Pro\ Light\ Italic.woff); }
  @font-face {
    font-family: cera-pro-normal-light, Mates, sans;
    src: url(../fonts/Cera\ Pro\ Light.otf);
    src: url(../fonts/Cera\ Pro\ Light.woff); }
  @font-face {
    font-family: cera-pro-normal-medium-italic, Mates, sans;
    src: url(../fonts/Cera\ Pro\ Medium\ Italic.otf);
    src: url(../fonts/Cera\ Pro\ Medium\ Italic.woff); }
  @font-face {
    font-family: cera-pro-normal-medium, Mates, sans;
    src: url(../fonts/Cera\ Pro\ Medium.otf);
    src: url(../fonts/Cera\ Pro\ Medium.woff); }
  @font-face {
    font-family: cera-pro-normal-regular-italic, Mates, sans;
    src: url(../fonts/Cera\ Pro\ Regular\ Italic.woff); }
  @font-face {
    font-family: cera-pro-normal-thin-italic, Mates, sans;
    src: url(../fonts/Cera\ Pro\ Thin\ Italic.otf);
    src: url(../fonts/Cera\ Pro\ Thin\ Italic.woff); }
  @font-face {
    font-family: cera-pro-normal-thin, Mates, sans;
    src: url(../fonts/Cera\ Pro\ Thin.otf);
    src: url(../fonts/Cera\ Pro\ Thin.woff); }
  @font-face {
    font-family: cera-pro-normal-thin, Mates, sans;
    src: url(../fonts/Cera\ Pro\ Thin.otf);
    src: url(../fonts/Cera\ Pro\ Thin.woff); }
  @font-face {
    font-family: cera-pro-normal, Mates, sans;
    src: url(../fonts/Cera\ Pro.otf);
    src: url(../fonts/Cera\ Pro.woff); }
  body {
    font-family: CeraPro !important;
    overflow-x: hidden;
    width: 100%; }
  
  html {
    width: 100%;
    overflow-x: hidden; }
  
  a {
    text-decoration: none;
    color: #7A7B7D; }
  
  ul {
    padding: 0;
    margin: 0; }
  
  p {
    margin: 0; }
    a:hover{
        text-decoration: none;
    }
    a:focus {
        text-decoration: none;
        outline: none;
    }
    input:focus, button{
        outline:none;
    }
    input[type="checkbox"] {
        cursor: pointer;
    }
    p {
        line-height: 22px;
    }
    .p_r0 {
        padding-right: 0;
    }
    .padd_tb40{
        padding: 40px 0px;
    }
    .mar_b20{
        margin-bottom: 20px;
    }
    .mar_b30{
        margin-bottom: 30px;
    }
    
    /* =========== Topbar ============= */
    .sign-up-topbar{
        background-color:#000;
    }
    .sign-up-logo img {
        width: 148px;
        padding: 2px 0px;
    }
    .sign-up-search {
        display: inline-flex;
    }
    .sign-up-search input {
        padding: 6px;
        outline: none;
        border: 1px solid #fff;
    }
    .sign-up-search select {
        padding: 7px;
        border: 0;
        outline: none;
    }
    .sign-up-search li {
        display: inline-block;
        border-right: 1px solid #bdbdbd4d;
        background-color: #fff;
    }
    .sign-up-search li:nth-child(2) {
        width: 500px;
    }
    .sign-up-search li:nth-child(2) input {
        width: 100%;
    }
    .sign-up-search li:nth-child(3) {
        padding: 6px 10px;
    }
    .sign-up-search li:last-child{
        border-right: none;
    }
    .search-icon {
        background-color: #E51937;
        color: #fff;
        height: 34px;
        display: inline-block;
        width: 37px;
        line-height: 34px;
        text-align: center;
        cursor: pointer;
    }
    /* ============Menu========= */
    .sign-up-list {
        list-style: none;
        display: flex;
        align-items: center;
    }
    .sign-up-list li {
        display: inline-flex;
        border: 1px solid #bdbdbd4d;
        border-right: 0px;
        /* flex: 1 1; */
        overflow: hidden;
        padding: 0px 15px;
        height: 56px;
    }
    .sign-up-list li:last-child{
        border-right:1px solid #bdbdbd4d;
    }
    .sign-up-list li span {
        align-items: center;
        display: flex;
    }
    .header-icon img {
        width: 30px;
        height: 28px;
    }
    .sign-up-list li select {
        border: 0;
        outline: none;
        width: 100%;
        background-color: #FAFAFA;
    }
    .sign-up-header{
        background-color: #FAFAFA;
    }
    .sign-up-menu {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .sign-up-reviw {
        list-style: none;
        margin-left: 68px;
    }
    .sign-up-reviw li {
        padding: 0px 15px;
        height: 56px;
        line-height: 56px;
        border: 1px solid #bdbdbd4d;
    }
    
    /* ============Left Content========= */
    .signcont-left {
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    .create-account {
        margin: 0px 0px 10px 0px;
    }
    .sign-up-social i {
        font-size: 18px;
        padding-right: 4px;
    }
    a.sign-social-facebook:focus{
        color:#fff;
    }
    .sign-up-social a {
        display: block;
        padding: 5px;
        border: 1px solid #ddd;
        margin-bottom: 15px;
        border-radius: 4px;
        text-align: center;
        transition: .5s;
    }
    .sign-social-facebook{
        background-color: #3B5999;
        color: #fff;
    }
    .sign-social-facebook:hover {
        background-color: #3B5999;
        color: #fff;
    }
    .group-item input:focus{
        background-color: #FFF7C6;
    }
    .group-item input {
        width: 100%;
        outline: none;
        border: 1px solid #ddd;
        padding: 4px 6px;
        border-radius: 4px;
    }
    .group-item {
        margin-bottom: 18px;
        position: relative;
    }
    .group-item input[type="submit"]{
        background-color: #FFF7C6;
        transition:.5s;
    }
    .group-item input[type="submit"]:hover{
        background-color: #E51937;
        color:#fff;
    }
    .group-item-right {
        position: absolute;
        right: 0;
    }
    .sign-in {
        color: #E51937;
    }
    /* ============Right Content========= */
    .signcont-right{
        text-align: center;
    }
    .signcont-right img {
        max-width: 100%;
    }
    .signcont-img {
        padding: 100px 40px;
    }
    /* =========================== Step 2 page ======================= */
    .group-item-gender label {
        display: block;
    }
    .block-btn {
        background-color: #E51937!important;
        color: #fff;
        transition:.5s;
    }
    .block-btn:hover{
        background-color: #fff!important;
        color: #E51937!important;
    }
    .step2-left-top {
        text-align: center;
    }
    .step2-img img{
        width:100%
    }
    .upload-btn {
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
    .group-item .block-btn {
        border-color: #E51937;
    }
    .group-item-gender input {
        cursor: pointer;
        margin-bottom: 8px;
    }
    /* =========================== Step 3 page ======================= */
    .step3_left_head {
        font-size: 23px;
        margin-bottom: 15px;
    }
    .step3_social_list {
        list-style: none;
    }
    .step3_social_list li{
        position: relative;
    }
    .step3_social_list_active{
        background-color: #F8F8F8;
    }
    .step3_social_list_active a {
        color: #A1A1A1!important;
    }
    .step3_social_list_active:after {
        position: absolute;
        content: "";
        width: 5px;
        height: 100%;
        background-color: #E51937;
        top: 0;
        left: 0;
    }
    .step3_social_list li a {
        padding: 13px;
        display: block;
        border-bottom: 1px solid #ddd;
        font-size: 17px;
        color:#000000b8;
    }
    .step3_social_list li i {
        font-size: 18px;
        padding-right: 3px;
    }
    .step3-search input {
        position: relative;
        width: 100%;
        height: 34px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
    }
    .step3-search {
        padding: 20px 0px;
    }
    .step3-search label {
        font-size: 16px;
    }
    .step3-search .search-icon {
        position: absolute;
        right: 15px;
        bottom: 20px;
        border-radius: 0px 5px 5px 2px;
    }
    
    /* =============== Step 3 right ============= */
    .step3_border {
        border: 13px solid #C8C7C7;
    }
    .red-alert{
        color:#E51937;
    }
    .step3-title {
        font-size: 24px;
    }
    .step3-sub {
        font-size: 15px;
    }
    .find-fb-friend{
        padding: 14px;
    }
    .find-fb-friend {
        padding: 5px 11px;
        font-size: 13px;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: inline-block;
    }
    .find-fb-friend i {
        font-size: 18px;
        padding-right: 5px;
    }
    /* =========================== Step 4 page ======================= */
    .step4_right_social li {
        display: inline-flex;
        width: 175px;
        height: 190px;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-right: 6px;
        align-items: center;
        position: relative;
    }
    .step4_right_social li a {
        margin: 0 auto;
    }
    .step4_social_single{
        text-align: center;
    }
    .step4_social_single img {
        margin-bottom: 12px;
    }
    .step4_social_single p {
        position: absolute;
        bottom: 22px;
        left: 50%;
        transform: translateX(-50%);
        color: #0073C6;
    }
    .safe-item {
        font-size: 18px;
        margin: 15px 0px 10px 0px;
    }
    .safe-item i {
        color: #666666;
        font-size: 16px;
        padding-right: 2px;
    }
    /* =========================== Step 5 page ======================= */
    .add-acc {
        border: none;
        padding: 0;
        background-color: transparent;
        color: #075788;
    }
    .step5_right .group-item label {
        display: block;
        font-size: 15px;
    }
    .step5_right input[type="email"] {
        width: 570px;
        padding: 5px 10px;
    }
    .step5_right input[type="submit"] {
        width:208px;
    }
    .new-flank {
        position: relative;
        text-align: center;
    }
    .new-flank .new-flank-cont {
        background-color: #fff;
        padding: 0 10px;
        color:#A7A7A7;
    }
    .new-flank:after{
        position: absolute;
        content:"";
        width:100%;
        height:1px;
        background-color: #A7A7A7;
        top:50%;
        left:0;
        z-index: -1;
    }
    .create-btn {
        padding: 4px 6px;
        width: 100%;
        background-color: #EBECF0;
        border: 1px solid #B9B9B9;
        border-radius: 4px;
        transition: .5s;
    }
    .create-btn:hover{
        background-color: #E51937;
        border-color:#E51937;
        color:#fff;
    }
    
  .new-flank-nav {
    background: #000; }
  
  .new-flank-nav-con {
    width: 90%;
    background: #000;
    display: flex;
    flex-flow: row;
    margin: auto;
    justify-content: space-between;
    align-items: center; }
  
  .flank-new-brand {
    flex: 0 0 10%;
    width: 100%; }
    .flank-new-brand a {
      width: 100%; }
      .flank-new-brand a img {
        width: 100%;
        height: 100%; }
  
  .flank-new-form {
    flex: 0 0 60%;
    width: 100%;
    margin-left: 20px; }
    .flank-new-form form {
      display: flex;
      flex-flow: row; }
  
  .flank-new-indi {
    display: flex;
    flex-flow: row;
    flex: 0 0 35%;
    width: 100%;
    height: 100%; }
  
  .flank-new-indi:nth-child(1) {
    flex: 0 0 65%; }
    .flank-new-indi:nth-child(1) .new-flank-input input {
      border-right: 1px solid #ddd; }
  
  .new-flank-selection {
    flex: 0 0 15%;
    background: #f4f4f4;
    border-radius: 5px 0 0 5px;
    padding: 5px;
    text-align: center;
    border-right: 1px solid #ddd; }
    .new-flank-selection p {
      margin: 0; }
  
  .new-flank-input {
    flex: 0 0 85%;
    width: 100%; }
    .new-flank-input input {
      width: 100%;
      height: 100%;
      border: 0;
      padding: 5px;
      outline: 0; }
  
  .flank-new-indi:nth-child(2) .new-flank-selection {
    border-radius: 0;
    flex: 0 0 25%;
    width: 100%; }
  .flank-new-indi:nth-child(2) .new-flank-input {
    flex: 0 0 75%;
    width: 100%; }
  
  .flank-new-search button {
    height: 100%;
    border: 0;
    background: #E51837;
    color: #fff;
    padding: 0 15px;
    border-radius: 0 5px 5px 0; }
  
  .flank-new-autho {
    display: flex;
    flex-flow: row; }
    .flank-new-autho button {
      padding: 4px 20px;
      border: 1px solid transparent;
      border-radius: 5px;
      background: transparent;
      color: #000;
      outline: 0; }
    .flank-new-autho .autho-in {
      margin-right: 15px; }
      .flank-new-autho .autho-in button {
        border: 1px solid red;
        color: #fff; }
    .flank-new-autho .autho-up button {
      background: #e5e5e5;
      border-color: #e5e5e5; }
  
  .new-flank-header-nav {
    background: #fafafa; }
  
  .header-nav-indi {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly; }
    .header-nav-indi ul {
      display: flex; }
      .header-nav-indi ul li {
        list-style: none; }
        .header-nav-indi ul li a {
          display: block;
          padding: 10px;
          color: #000;
          border-right: 1px solid #ddd;
          height: 100%;
          text-decoration: none;
          border-bottom: 1px solid transparent; }
          .header-nav-indi ul li a img {
            margin-right: 3px;
            width: 20px;
            height: 23px; }
          .header-nav-indi ul li a span {
            margin-left: 5px; }
      .header-nav-indi ul li.active a {
        border-bottom-color: #ddd; }
      .header-nav-indi ul li:first-child a {
        border-left: 1px solid #ddd; }
  
  .new-search-flank {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    align-items: center;
    box-shadow: 0px 3px 9px -7px rgba(0, 0, 0, 0.4); }

    .new-search-flank-num p {
      font-size: 17px;}
  
  .new-search-flank-num p span {
    color: #E51837;
    font-weight: 600; }
  
  .new-search-flank-sort select {
    border: 1px solid #ddd;
    padding: 3px 30px 3px 5px;
    border-radius: 3px;
    -webkit-appearance: none;
    background: url(../images/custom-select.png) right 0.75rem center no-repeat #EAEBEF; }
  
  .new-flank-container-fluid {
    display: flex;
    flex-flow: row; }
  
  .new-flank-sidebar {
    flex: 0 0 20%;
    width: 100%;
    padding: 0 15px;
    margin-top: 15px;
    border-right: 1px solid #ddd; }
  
  .new-flank-sidebar-list {
    margin-top: 15px; }
    .new-flank-sidebar-list h3 {
      font-size: 15px;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 7px;
      color: #000;
      text-transform: capitalize; }
    .new-flank-sidebar-list ul li {
      list-style: none;
      text-transform: capitalize;
      margin-bottom: 3px;
    font-size: 13px; }
      .new-flank-sidebar-list ul li a {
        color: #000; }
      .new-flank-sidebar-list ul li p span {
        padding: 3px;
        background: #ccc;
        color: #fff;
        margin-right: 3px;
        font-size: 12px;
        border-radius: 4px; }
      .new-flank-sidebar-list ul li p span.bg {
        background: #E51837; }
      .new-flank-sidebar-list ul li input[type="checkbox"]:checked, .new-flank-sidebar-list ul li input[type="checkbox"]:not(:checked) {
        display: none; }
      .new-flank-sidebar-list ul li label {
        font-weight: 400;
        position: relative;
        padding-left: 20px;
        cursor: pointer;
        margin: 0; }
      .new-flank-sidebar-list ul li input[type="checkbox"]:not(:checked) + label:before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 4px;
        background: #fff;
        border: 1px solid #000;
        top: 3px;
        left: 0; }
      .new-flank-sidebar-list ul li input[type="checkbox"]:checked + label:before {
        content: "\f00c";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        top: 3px;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #E51837;
        border-radius: 4px;
        background: #E51837;
        color: #fff;
        font-weight: 900;
        font-size: 9px;
        padding-left: 2px;
        padding-top: 1px; }
    .new-flank-sidebar-list .pad-list {
      padding-left: 15px; }
  
  .new-flank-content {
    flex: 0 0 49%;
    margin-left: 15px; }
  
  .new-content-rev-title h2 {
    font-size: 20px;
    font-weight: 600;
  color: #000; }
  .new-content-rev-title p {
    margin-top: 15px;
  font-size: 14px;}
    .new-content-rev-title p a {
      color: #2E82CE; }
  
  .new-content-rev-details {
    display: flex;
    flex-flow: row;
    margin-top: 15px; }
  
  .new-content-rev-left {
    flex: 0 0 30%;
    width: 100%;
    display: flex;
    flex-flow: column; }
  .new-content-rev-left figure {
      flex: 0 0 160px;
      margin-left: auto;
      width: 160px;
      padding-right: 17px;
  }
      .new-content-rev-left figure img {
        width: 100%; }
  
  .new-best-rated {
    background: #fff;
    width: 90px;
    text-align: center;
    padding: 7px 4px;
    position: relative; }
    .new-best-rated p {
      color: #fff; }
    .new-best-rated:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background: #fff;
      transform-origin: bottom left;
      -ms-transform: skew(-30deg, 0);
      -webkit-transform: skew(-30deg, 0);
      transform: skew(-30deg, 0);
      z-index: -1; }
  
  .new-best-rated.rated-red {
    background: #E51837; }
    .new-best-rated.rated-red:after {
      background: #E51837; }
  
  .new-content-rev-right {
    flex: 0 0 70%;
    width: 100%;
    position: relative;
    padding-left: 20px; }
    .new-content-rev-right h2 {
      font-size: 20px;
      font-weight: 600;
      text-transform: capitalize;
      margin: 0; 
    color: #000;}
    .new-content-rev-right p {
      text-transform: capitalize;
      font-size: 14px; }
    .new-content-rev-right .city-s {
      position: absolute;
      right: 0;
      top: 0;
      color: #000;
      font-size: 14px; }
  
  .new-content-star {
    margin-top: 10px;
    display: flex;
    flex-flow: row;
    align-items: baseline; }
    .new-content-star ul {
      display: flex;
      flex-flow: row; }
      .new-content-star ul li {
        margin-right: 2px;
        list-style: none; }
        .new-content-star ul li span {
          padding: 3px;
          background: #ccc;
          color: #fff;
          font-size: 12px;
          border-radius: 3px; }
        .new-content-star ul li span.bg {
          background: #E51837; }
    .new-content-star p span {
      font-size: 11px; }
      .new-content-star p span i {
        vertical-align: middle; }
    .new-content-star p a {
      font-size: 20px;
      color: #2E82CE; }
  
  .new-comment-para {
    margin-top: 10px; }
    .new-comment-para p {
      line-height: 18px;
      font-weight: 600;
      font-size: 13px; }
      .new-comment-para p a {
        color: #2E82CE; }
  
  .new-comment-btn {
    margin-top: 15px; }
    .new-comment-btn button {
      padding: 13px 11px;
      border: 1px solid #ddd;
      background: #E51837;
      color: #fff;
      border-radius: 5px;
      outline: 0; }
  
  .new-flank-content-rev {
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
  margin-top: 20px; }
  
  /*# sourceMappingURL=style.css.map */
  .new-flank-content-rev {
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 40px;
  }
  
  
  
  
  ._1coach_items {
    border-bottom: 2px solid #e7e7e7;
    padding: 0 0 31px;
    position: relative;
  }
  ._1coach_top {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    margin-top: 19px;
  }
  ._1coach_top_right{
    flex: 1 1;
    margin-left: 10px;
  }
  ._1coach_top_pic {
    flex: 0 0 50px;
    width: 100%;
  }

  ._1coach_top_pic img {
    width: 100%;
  }
  ._1coach_top_img{}
  ._1title {
    color: #000;
    font-size: 16px;
    font-weight: bold;
  }
  ._1coach_time {
    font-size: 11px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 13px 0 5px;
  }
  ._1coach_status {
    font-size: 12px;
    color: #000;
    line-height: 16px;
  }
  ._1coach_top_by a {
    color: #297dc6;
    padding: 0 8px 0;
  }
  ._1coach_top_by {
    font-size: 14px;
    margin-top: 2px;
  }
  ._1coach_main_one{}
  ._3title{
    font-size: 14px;
    color: #111;
  }
  ._1text {
    font-size: 12px;
    color: #000;
  }
  
  /* Card One */
  ._1card{}
  ._1card ._3title {
    margin-bottom: 6px;
  }
  ._2title {
    font-size: 15px;
    color: #111;
    font-weight: 600;
  }
  ._1card_subtitle {
    font-size: 12px;
    width: 90%;
    margin: 3px 0 0;
    line-height: 13px;
  }
  ._1card_pic {
    overflow: hidden;
    position: relative;
    height: 218px;
    margin-bottom: 20px;
  }
  ._1card_img {
    max-width: 85%;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  ._1card_details{}
  ._1card_tag {
    background: #01262e;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    padding: 3px 4px 4px;
    margin: 14px 0 2px;
  }
  /* Card One */
  
  /* Rating One */
  ._1rating{}
  ._1rating_list{
    display: flex;
  }
  ._1rating_list li {
    display: flex;
    background: #ccc;
    margin-right: 2px;
    color: #fff;
    font-size: 9px;
    border-radius: 2px;
    height: 14px;
    width: 15px;
    align-items: center;
    justify-content: center;
    padding-bottom: 1px;
    cursor: pointer;
  }
  ._1rating_num {
    background: transparent !important;
    color: #2E82CE !important;
    font-size: 14px !important;
    font-family: sans-serif;
    font-weight: bold;
    width: auto !important;
  }
  ._1rating_num span {
    color: #605e5e;
    font-size: 9px;
    display: block;
    padding: 2px 5px 0 7px;
  }
  ._1rating_active {
    background: #E51837 !important;
  }
  /* Rating One */
  
  .worst:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    right: -15px;
    -ms-transform: skew(-30deg, 0);
    -webkit-transform: skew(-30deg, 0);
    transform: skew(-30deg, 0);
    z-index: -2;
  }
  .worst {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    padding: 7px 0px 8px 10px;
    z-index: 1;
    position: relative;
  }
  .yellow, .yellow:before {
    background: #e87a00;
  }
  .yellow {
    position: absolute;
    top: 0;
    left: 0;
  }
  ._2coach_main_left{}
  ._1btn {
    padding: 7px 8px;
    border: 1px solid #ddd;
    background: #E51837;
    color: #fff;
    border-radius: 5px;
    outline: 0;
    font-size: 11px;
  }
  ._2taxt {
    font-size: 11px;
  }
  
  /* Card Two */
  ._2card ._1rating {
    margin: 6px 0 15px;
  }
  ._2card ._1btn {
    margin-top: 15px;
  }
  ._2card {
    display: flex;
  }
  ._2card_pic {
    flex: 0 0 50%;
    overflow: hidden;
    padding-right: 35px;
    height: 234px;
    position: relative;
  }
  
  ._2card_img {
    max-width: 76%;
    max-height: 100%;
    margin-left: auto;
    display: block;
    position: absolute;
    right: 22px;
    bottom: 0;
  }
  ._2card_details{}
  ._2card_details_left {
    flex: 1 1;
  }
  ._2card_details_city {
    font-size: 12px;
    opacity: .9;
  }
  ._2card_status {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-height: 18px;
  }
  .see_more {
    font-size: 12px;
    color: #337ab7;
  }
  ._2card_details_top {
    display: flex;
  }
  /* Card Two */
  
  ._2coach_main_right {
    border-left: 2px solid #e7e7e7;
    margin-top: 43px;
  }
  ._2coach_title {
    display: flex;
    align-items: center;
  }
  ._2coach_title_one {
    font-size: 14px;
    color: #555;
    padding-right: 10px;
  }
  ._2coach_title_two {
    display: inline-block;
    position: relative;
    color: #009f00;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
  }
  ._2coach_title_two span {
    color: #222;
    font-size: 11px;
    position: absolute;
    top: -8px;
    left: 100%;
  }
  ._2coach_main_right_main {
    display: flex;
  }
  ._2coach_main_right_title {
    flex: 0 0 auto;
    margin-right: 12px;
    color: #666;
  }
  ._2coach_main_right_list {
    flex: 1 1;
    overflow: hidden;
    padding-right: 17px;
  }
  ._2coach_main_right_list:last-child{
    padding-right: 0px;
  }
  ._2coach_main_right_list li {
    display: block;
    color: #7777;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 6px;
    padding-top: 5px;
  }
  ._2coach_main_right_list li i{
    margin-right: 5px;
  }
  ._2coach_main{
    padding-top: 20px;
  }
  ._1card_star{
    font-size: 15px;
    font-weight: bold;
    color: #000;
  }
  .black, .black:before{
    background: #000;
  }
  .black{
    flex: 0 0 auto;
  }
  .black span {
    font-weight: 100;
    font-size: 12px;
    color: #960d0d;
  }
  ._1coach_barch ._1title {
    margin-left: 29px;
    flex: 1 1;
  }
  ._1coach_barch {
    display: flex;
    align-items: center;
    margin: 15px 0 -6px;
  }
  ._1reiew_box {
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 21px;
    margin-bottom: 50px;
  }
  ._1reiew_box_title {
    font-size: 18px;
    color: #000;
    margin: 11px 0 2px;
  }
  ._1reiew_con {
    font-size: 13px;
  }
  ._1reiew_con a {
    color: #2E82CE;
  }
  ._1reiew_taxtarea:focus{
    outline: none;
  }
  ._1reiew_taxtarea {
    display: block;
    width: 78%;
    font-size: 12px;
    border-radius: 3px;
    border: 2px solid #e7e7e7;
    padding: 4px 10px;
    margin: 13px 0 13px;
  }
  
  ._2coach_title_two_red {
    color: #E51837;
  }

  .backtop {
    background: #E51837;
    padding: 15px 10px;
    text-align: center;
  }

  .backtop p {
      color: #fff;
      font-size: 15px;
  }

  @media screen and (min-width: 1200px) {
.flank-container .container {
    width: 100%;
}
  }